.events {
	min-height: fit-content;
	padding-bottom: 3rem;
	position: relative;
}

#this-month,
#upcoming,
#past {
	font-size: 2.4rem;    
	font-family: "Fira Code", monospace;
	text-transform: uppercase;
	padding-left: 46px;
	padding-top: 80px;
}

#this-month-events,
#upcoming-events,
#past-events {
	padding-bottom: 80px;
	max-width: 1495px;
	width: 88%;
	padding-left: 5%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(430px, 430px));
	gap: 24px;
	justify-content: start;
}

#this-month-events-section,
#upcoming-events-section {
	border-bottom: var(--disabled) 2px dashed;
}

.event-card {
	width: 380px;
	min-height: 260px;
	border: #444444 2px solid;
	padding: 22px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: start;
	background: var(--bg);
}

.event-card:hover {
	border-color: #6b6b6b;
}

#external-icon {
	position: absolute;
	top: 10px;
	right: 10px;
}

.event-community {
	background: #242424;
	color: var(--primary);
	font-size: 1rem;
	width: fit-content;
	padding: 3px 12px;
	margin-top: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 80%;
	border-left: var(--primary) 2px solid;
	text-wrap: nowrap;
}

.event-title {
	font-size: 1.4rem;
	margin-top: 12px;
	color: var(--primary);
	font-family: "Fira Code", monospace;
	max-width: 380px;
}

.event-info {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.event-location {
	background: #7bee5e28;
	padding: 3px 6px;
	width: fit-content;
	font-size: 1rem;
	display: flex;
	align-items: center;
	margin: 0;
}

.event-date,
.event-time {
	background: #272727;
	padding: 3px 6px;
	width: fit-content;
	font-size: 1.1rem;
	display: flex;
	align-items: center;
	margin: 0;
}

#date-icon,
#time-icon {
	flex-shrink: 0;
	padding-right: 12px;
}

#location-info {
	display: flex;
	margin-top: 32px;
	/* height: 88px; */
}

#location-icon {
	flex-shrink: 0;
	padding-right: 12px;
	padding-left: 1px;
}

.location {
	font-size: 1rem;
	display: -webkit-box;
	line-clamp: 4;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
}

#past-events-gradient {
	position: absolute;
	width: 100%;
	height: 25%;
	background: linear-gradient(transparent 0%, var(--bg) 52%, var(--bg) 100%);
	z-index: 1;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (width<903px) {

	#past-events-gradient {
		height: 25%;
	}

}

@media (width<512px) {

	.event-card {
		width: 80%;
	}

	#this-month-events,
	#upcoming-events,
	#past-events {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		flex-direction: column;
		padding: 0;
	}
}