:root {
    --primary: #7bee5e;
    --secondary: #77ca62;
    --foreground: #eceae5d8;
    --background: #131313;
    /* --foreground: #e2e2e2; */
    /* --background: #0f0f0f; */
    --fg: var(--foreground);
    --bg: var(--background);
    --text: var(--foreground);
    --disabled: #4b4b4b;
  /* --accent: #7bee5e; */
  /* --font-size: 1.7rem; */
  /* --line-height: 1.54em; */
  /* --radius: 0; */
}


* {
    font-family: "Ioskeley Mono", monospace;
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--text);
    font-family: "Ioskeley Mono", monospace;
}

a {
    text-decoration: none;
    color: var(--text);
}

a:visited {
    color: var(--text);
    text-decoration: none;
}
/* 
#navbar {
    display: flex;
    flex-direction: row;
    width: calc(100% - 40px);
    height: 32px;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 10px 20px ;
    background: repeating-linear-gradient(90deg,var(--primary),var(--primary) 2px,transparent 0,transparent 10px);
    top: 0;
}

#navtitle {
    font-size: calc(1.7rem / 1.5);
    line-height: 1.54rem;
    margin: 0;
    padding: 7px 10px 7px;
    background: var(--primary);
    height: 100%;
    color: var(--bg);
    font-weight: 600;
} */

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 19px 20px;
}

#navtitle {
  display: flex;
  flex: 1;
}

#navtitle::after {
  content: "";
  background: repeating-linear-gradient(90deg, var(--primary), var(--primary) 2px, transparent 0, transparent 10px);
  display: block;
  width: 100%;
  right: 10px;
}

#navtitle a {
    height: 28px;
  flex: 0 0 auto;
  max-width: 100%;
  text-decoration: none;
  font-size: calc(1.7rem / 1.5);
  line-height: 1.54rem;
}

#navtitle a {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: var(--primary);
  color: var(--background);
  font-weight: bold;
  padding: 5px 10px;
}

#navigation-box {
    display: none;
}

button {
    height: fit-content;
    padding: 8px 18px;
    background-color: var(--bg);
    color: var(--primary);
    border: var(--primary) 2px solid;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
}

button:hover {
    border-color: var(--primary);
    border-style: solid;
    color: var(--primary);
    text-decoration: underline;
}

#breadcrumbs {
    margin: 32px 32px;
    font-size: calc(1.7rem / 1.5);
    padding-bottom: 8px;
    color: var(--primary);
    display: flex;
    flex-direction: row;
}

#breadcrumbs a {
    color: var(--primary);
}
#breadcrumbs p {
    margin: 0;
    color: var(--primary);
}
#breadcrumbs a:hover {
    text-decoration: underline;
}


.hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

#navgitbtn {
    padding: 7px 12px;
    height: 100%;
}

#left-side {
    width: calc(100% - 0rem);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    /* padding-left: 5rem; */
    flex-direction: column;
    background-image: url('./assets/Thiruvalluvar.svg');
    background-repeat: no-repeat;
    background-position: center;
}

#thirukkural {
    position: absolute;
    margin: 0;
    font-family: "Noto Serif Tamil", serif;
    /*font-style: italic;*/
    font-size: 1.5rem;
}

#right-side {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: white;
    padding-right: 20px;
}

.section {
    width: 100%;
    min-height: 100vh;
}

#hero-title {
    /* font-size: 3.6rem; */
    /* margin-top: 0; */
    font-family: "Fira Code", monospace;

	font-size: 4.6rem;
	height: fit-content;
	width: 100%;
	text-align: center;
	margin: 0 32px;

}

#hero-title span {
    font-family: "Fira Code", monospace;
}

#contextmenu {
    position: absolute;
    display: none;
    background: var(--bg);
    padding: 14px;
    flex-direction: column;
    border: 2px solid #444444;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    z-index: 9999;
    gap:12px;
}

#contextmenu button.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: #444444;
    border-color: #444444;
}

#button-group {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 20px;
}

/* @media (width<1175px) { */


    #thirukkural {
        top: 0;
        width: calc(100% - 40px);
        font-size: 1.4rem;
        padding: 45px 20px 0 20px;
        max-width: 450px;
    }

    #right-side {
        position: absolute;
        width: 100%;
        height: fit-content;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #left-side {
        width: 100%;
        /* padding-left: 3rem; */
    }

/* } */
@media (width<700px) {

    #left-side {
    background-size: 100%;
        /* padding-left: 1.5rem; */
    }

    #navigation-box {
        display: flex;
        flex-direction: row;
        width: 100%;
        top:0;
        position: sticky;
        justify-content: space-around;
        background: var(--bg);
        z-index: 2;
        height: 4vh;
        align-items: center;
        margin: 0;
        border-bottom: var(--text) 2px inset;
        box-shadow: #0f0f0f 0 0 20px 7px;
    }

    #navigation-this-month:hover,
    #navigation-upcoming:hover {
        color: var(--primary);
    }
}
@media (height<675px) {

    #hero-img {
        height: auto;
        max-height: 90vh;
        padding-top: 0;
    }

    #right-side {
        align-items: start;
    }

    #thirukkural {
        align-self: center;
    }
}

@media (width<530px) {

    #thirukkural {
        font-size: 1rem;
    }
    #hero-title {
        font-size: 3.1rem;
    }
    #button-group {
        flex-direction: column;
        align-items: center;
    }
    #button-group a {
        width: 100%;
    }
    #archive-btn {
        width: 100%;
    }
}




