:root {
    --primary: #7bee5e;
    --secondary: #77ca62;
    --foreground: #e2e2e2;
    --background: #0f0f0f;
    --fg: var(--foreground);
    --bg: var(--background);
    --text: var(--foreground);
    --disabled: #4b4b4b;
}

* {
    font-family: "Fira Code", monospace;
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--text);
    font-family: "Fira Code", monospace;
}

a {
    text-decoration: none;
    color: var(--text);
}

a:visited {
    color: var(--text);
    text-decoration: none;
}

#navbar {
    display: flex;
    flex-direction: row;
    width: calc(100% - 64px);
    /* height: 32px; */
    justify-content: space-between;
    align-items: center;
    margin: 32px ;
    background: repeating-linear-gradient(90deg, transparent, transparent 6px, var(--primary) 6px, var(--primary) 8px);
    top: 0;
}

#navtitle {
    font-size: 1.1rem;
    margin: 0;
    background: var(--primary);
    height: 100%;
    color: var(--bg);
    padding: 6px 6px;
    font-weight: 600;
}

#navigation-box {
    display: none;
}

button {
    height: fit-content;
    padding: 8px 18px;
    background-color: var(--bg);
    color: var(--primary);
    border: var(--primary) 2px solid;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
}

button:hover {
    border-color: var(--primary);
    border-style: solid;
    color: var(--primary);
    text-decoration: underline;
}

#breadcrumbs {
    margin: 0 32px;
    font-size: 0.9rem;
    padding-bottom: 8px;
    color: var(--primary);
    display: flex;
    flex-direction: row;
}

#breadcrumbs a {
    color: var(--primary);
}
#breadcrumbs p {
    margin: 0;
    color: var(--primary);
}
#breadcrumbs a:hover {
    text-decoration: underline;
}


.hero {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

#navgitbtn {
    padding: 5px 12px;
}

#left-side {
    width: calc(50% - 5rem);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-left: 5rem;
    flex-direction: column;
}

#thirukkural {
    position: absolute;
    margin: 0;
    font-family: "Noto Serif Tamil", serif;
    /*font-style: italic;*/
    font-size: 1.5rem;
}

#right-side {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: white;
    padding-right: 20px;
}

.section {
    width: 100%;
    min-height: 100vh;
}

#hero-title {
    font-size: 3.6rem;
    margin-top: 0;
}

#contextmenu {
    position: absolute;
    display: none;
    background: var(--bg);
    padding: 14px;
    flex-direction: column;
    border: 2px solid #444444;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    z-index: 9999;
    gap:12px;
}

#contextmenu button.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: #444444;
    border-color: #444444;
}

#button-group {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 20px;
}

@media (width<1175px) {

    #hero-img {
        display: none;
        position: static;
    }

    #thirukkural {
        top: 0;
        width: calc(100% - 40px);
        font-size: 1.4rem;
        padding: 45px 20px 0 20px;
        max-width: 450px;
    }

    #right-side {
        position: absolute;
        width: 100%;
        height: fit-content;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #left-side {
        width: 100%;
        padding-left: 3rem;
    }

    #hero-title {
        max-width: 900px;
    }
}

@media (height<675px) {

    #hero-img {
        height: auto;
        max-height: 90vh;
        padding-top: 0;
    }

    #right-side {
        align-items: start;
    }

    #thirukkural {
        align-self: center;
    }
}

@media (width<530px) {

    #thirukkural {
        font-size: 1rem;
    }

    #navbar {
        width: calc(100% - 44px);
        margin: 22px 22px;
    }
    #button-group {
        flex-direction: column;
    }
}

@media (width<700px) {

    #left-side {
        padding-left: 1.5rem;
    }

    #navigation-box {
        display: flex;
        flex-direction: row;
        width: 100%;
        top:0;
        position: sticky;
        justify-content: space-around;
        background: var(--bg);
        z-index: 2;
        height: 4vh;
        align-items: center;
        margin: 0;
        border-bottom: var(--text) 2px inset;
        box-shadow: #0f0f0f 0 0 20px 7px;
    }

    #navigation-this-month:hover,
    #navigation-upcoming:hover {
        color: var(--primary);
    }
}
