#communities-section {
	display: flex;
	justify-content: center;
	width: calc(100% - 24px);
	padding: 0 12px;
}

#communities-container {
	padding-bottom: 80px;
	max-width: 1495px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(430px, 430px));
	gap: 24px;
	justify-content: center;
}

.community-card {
	width: 380px;
	min-height: 260px;
	border: 1px solid var(--background-200);
	padding: 22px;
	position: relative;
	background: var(--bg);
}

.community-card:hover {
	border-color: var(--background-400);
}

.community-logo {
	width: fit-content;
	max-width: 60%;
	height: 32px;
}

.logo-img {
	height: 32px;
	min-width: 32px;
	/* filter: grayscale(100%); */
	/* border: #acacac 2px solid; */
	background: var(--background-200);
	padding: 4px;
	max-width: 100%;
}

.logo-img.default {
	padding: 4px;
	background: transparent;

}

.link-box {
	padding: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
}

.link-box:hover{
	background: var(--primary-100);
}

.links-container {
	display: flex;
	gap: 18px;
	flex-wrap: wrap;
	height: 70%;
	align-content: start;
}

.community-name {
	font-size: 1.4rem;
	margin-top: 12px;
	color: var(--primary);
	font-family: "JetBrains Mono", monospace;
	max-width: 380px;
	min-height: 60px;
}

.event-location {
	/* background: #7bee5e07; */
	position: absolute;
	top: -1px;
	right: -1px;
	color: var(--bg);
	/* padding: 4px 8px; */
	text-transform: uppercase;
	font-weight: bold;
	width: fit-content;
	font-size: 1rem;
	display: flex;
	align-items: center;
	margin: 0;
}

.event-location p {
	background-color: var(--primary);
	padding: 3px 12px 5px;
	margin: 0;
	border-top: 1px solid var(--primary);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-bottom: 30px solid var(--primary);
  transform: rotate(270deg);
  position: relative;
  top: 0px;
  left: 0px;
}

.no-events {
	display: flex;
	flex-direction: column;
	color: var(--background-600);
	padding: 0 32px;
	width: max-content;
}

.no-events button {
	width: fit-content;
}

.no-events-inner {
	display: flex;
	gap: 16px;
	align-items: center;
}

@media (width<512px) {

	.community-card {
		width: 90%;
	}

	#communities-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		flex-direction: column;
		padding: 0;
	}

}